@charset "utf-8";

body {
    padding-top: 80px;
    font-family: Helvetica,  Arial, sans-serif;
    color: #606060;
}

.container.main {
    width: 900px;
}

.img-marc {
    width: 100px;
}

.praxis-body {
    padding-top: 20px;
}

.praxis-links {
    padding-top: 20px;
}


.praxis-link {
    padding: 10px 0 10px 0;
    border-top: 1px solid #AECEA6;
}

.praxis-link .active {
    color: #65A058;
}

.praxis-link :hover {
    color: #65A058;
    text-decoration: none;
}

.praxis-links {
    margin-top: 10px;
}

.praxis-links a {
    padding-top: 20px;
    color: #606060;
    text-transform: uppercase;
    font-size: 13px;
}

.praxis-title {
    color: rgba(0, 100, 0, .6);
    letter-spacing: 2px;
    font-size: 40px;
    font-variant: small-caps;
}

.praxis-subtitle {
    padding-top: 10px;
    letter-spacing: -1px;
    font-size: 20px;
    letter-spacing: 2px;
    font-variant: small-caps;
}

.praxis-address {
    padding-top: 5px;
    letter-spacing: 2px;
    padding-bottom: 5px
}

.arzt-fuer {
    padding-top: 10px;
    padding-bottom: 10px;
    letter-spacing: 1px;
    font-size: 18px;
}

.img-aussen {
    padding-top: 10px;
    width: 680px;
    overflow: hidden;
}

.img-aussen-img-off {
    padding-top: 10px;
    width: 750px;
    margin: -20px 0 0 -50px;
}

.rundgang {
    padding-top: 10px;
    padding-left: 0;
    width: 680px;
    height: 400px;
    overflow: hidden;
}

.img-foto-img {
    height: 400px;
    margin-top: -20px;
}

td {
    padding-right: 20px;
}

footer {
    float: right;
}

.impressum-link {
    color: #65A058;
    font-size: 12px;
}

.copyright {
    font-size: 8px;
}
