%h3.impressum-header Impressum


Marc Eberhard
%p.no-margin
Europaplatz 8
%p.no-margin
53721 Siegburg
%p=link_to "http://www.orthopaedie-eberhard.de"
%p Tel: +49 (0) 2241 63 55 8

%h4.impressum-item  Zuständige Aufsichtsbehörde
Kv No, Bezirksstelle Köln
%p.no-margin Postfach 10 20 53
%p.no-margin 50640 Köln

%h4.impressum-item Berufsbezeichnung
Facharzt für Orthopädie & Unfallchirurgie

%h4.impressum-item Ärztekammer
Ärztekammer Nordrhein
%p.no-margin
Tersteegenstr. 9
%p.no-margin
40474 Düsseldorf
%p= link_to "https://www.aekno.de", "https://www.aekno.de"

%h4.impressum-item Berufsrechtliche Regelungen
= link_to "Berufsordnung für die nordrheinischen Ärztinnen und Ärzte",
"https://www.aekno.de/aerzte/berufsordnung"

%p.no-margin
=link_to "Heilberufsgesetz NRW", 
"https://www.aekno.de/aerzte/gesetze-verordnungen/heilberufsgesetz-nrw"


%h4.impressum-item   Inhaltlich verantwortlich gem. §6 MDStV
Marc Eberhard

%h4.impressum-item  Haftungsausschluß / Rechtliche Hinweise

Mit dem Urteil vom 12. Mai 1998 - 312 O 85/98 hat das Landgericht (LG) Hamburg entschieden, dass man durch die Erstellung eines Links die Inhalte der gelinkten Seite ggf. mitzuverantworten hat. Dies kann - so das Gericht - nur dadurch verhindert werden, indem man sich ausdrücklich von diesen Inhalten distanziert. Daher distanzieren wir uns hiermit vorsorglich von etwaigen strafbaren oder rechtswidrigen Inhalten aller gelinkten Seiten auf diesem Server. Diese Erklärung gilt für sämtliche Links oder Linksammlungen, die zur Zeit bestehen oder in Zukunft bestehen werden. Diese Erklärung gilt für alle Seiten, die von uns gepflegt werden und die auf dieses Impressum verweisen, sowie für die Inhalte der Seiten zu denen diese Links führen.

D. h., trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für Inhalte externer Links. Für den Inhalt verlinkter Seiten sind ausschliesslich deren Betreiber verantwortlich.
