---
page: Startseite
---

- content_for :title do
  .arzt-fuer
    Facharzt für Orthopädie &amp; Unfallchirurgie,
    Chirurgie, Sportmedizin, Notfallmedizin, Manuelle Medizin / Chirotherapie
  .praxis-address
    Europaplatz 8 - 53721 Siegburg - Telefon: 02241 / 63 55 8 - Fax: 02241 / 59 04 08

- content_for :body do
  .img-praxis
    = image_tag "images/praxis_aussen.png", class: 'img-praxis-img'
