---
page: Leistungen
---

%h3{style: "margin-top: 10px"}
  Unser Leistungsspektrum:

%p
  Wir bieten Ihnen individuell zusammengestellte Therapiekonzepte aus den Fachgebieten der

%ul
  %li
    %strong
      Orthopädie
  %li
    %strong
      Unfallchirurgie
  %li
    %strong
      Manuelle Medizin
  %li
    %strong
      Sportmedizin

zur
%strong
  Arthrosebehandlung
mit dem primären Ziel der
%strong
  Gelenkerhaltung
, eine begleitende multimodale
%strong
  Schmerztherapie, Regenerationsförderung
und Strategien zur
%strong
  Wiederherstellung
der Statik, Beheben schmerzhafter
%strong
  Funktionsstörungen
des Bewegungsapparates.


%br
%br

Dazu bieten wir folgende Leistungen an:

%p

%ul
  %li
    digitale dynamische Fußdruckmessung zur individuellen Einlagenversorgung
  %li
    extracorporale Stoßwellentherapie (ESW), sowie
  %li
    High-Power Lasertherapie zur Sehnen- und Muskelbehandlung
  %li
    Wirbelsäuleninfiltrationen (PRT)
  %li
    Gelenkinjektionen (Hyaluronsäure, körpereigenes, angereichertes Blutplasma ACP)
  %li
    Infusionsbehandlungen und Aufbaukuren
  %li
    pulsierende Magnetfeldtherapie (MAS)
  %li
    Akupunktur (TCM, Triggerpunkte)
  %li
    TENS-Behandlung
  %li
    Chirotherapie/Osteopathie, Physiotherapie (MT)
  %li
    Physikalische Therapie
  %li
    Röntgen-, Ultraschall- und Laboruntersuchungen


%br

%h4
  Hinweis für gesetzlich und privat versicherte Patienten:

In unseren Sprechstunden behandeln wir sowohl gesetzlich als auch privat versicherte Patienten.
%p
Einige Leistungen aus dem Spektrum der Diagnose- und Therapiemöglichkeiten werden jedoch nicht oder nur teilweise von Ihrer Versicherung übernommen.
%p
Um Ihnen keine Leistungen vorzuenthalten informieren wir Sie selbstverständlich im Einzelfall und klären Sie über entstehende Kosten auf.

%br
%br

%h4
  Hilfreiche Adressen und Informationsquellen

Hier möchten wir Ihnen gerne einige Adressen und Quellen nennen, die auf der Suche nach weiteren Informationen hilfreich sein können:

%br
%br

%p
  GOÄ (Gebührenordnung für Ärzte) (als
  = link_to "PDF",  "http://www.pkv.de/recht/rechtsquellen/gebuehrenordnung-fuer-aerzte-goae.pdf"
  )

%p
  IGeL (individuelle Gesundheitsleistungen) - was Sie über IGeL wissen sollten (als
  = link_to "PDF", "http://www.aerztekammer-koblenz.de/fileadmin/Koblenz/PDF/Infos/flyerIGeLBAEK.pdf"
  )

%p
  Patientenmerkblatt zur Abrechnung privatärztliche Leistungen (als
  = link_to "PDF", "http://www.aerztekammer-koblenz.de/fileadmin/Koblenz/PDF/Infos/Patientenmerkblattprivataerztl_Leist.pdf"
  )
