---
page: Sprechzeiten
---

%h4
  Sprechzeiten nach Vereinbarung:

%table
  %tr
    %td Mo - Fr
    %td &nbsp; 8 - 12
  %tr
    %td Mo - Di
    %td 14 - 17
  %tr
    %td Do
    %td 14 - 18
%p
%p
  Da Krankheiten nicht planbar sind, haben wir für akute Beschwerden, deren Behandlung nicht aufschiebbar ist, ein angemessenes Kontingent in unserer täglichen Sprechstunde eingerichtet.
%p
  Diese Notfallbehandlung ist verständlicherweise nur begrenzt möglich, weshalb wir hierzu unbedingt um telefonische Anmeldung bitten. Wir bemühen uns, Sie noch am gleichen Tage zu behandeln.

%p
  Bitte berücksichtigen Sie, dass Sie bei Notfallbehandlung mit Wartezeiten rechnen müssen.
%p
  Nicht akut Erkrankte erhalten auch nach Wartezeit möglicherweise dann einen Termin in der regulären Sprechstunde.
